<div id="<%= comment.id %>">
    <% if(locals.user && locals.user.id == comment.user.id){ %>
        <a class="delete-comment" href="/comments/destroy/<%= comment.id %>">x</a>
    <% } %>
    <p> <%= comment.content %> <br> <small> <%= comment.user.name %> </small> </p>   
</div>