<div id="chatbox">
    <div id="chat-messages">
        <p class="other-message">hey!</p>
        <p class="my-message">hola!</p>
    </div>
    <div id="chat-input-container">
        <input type="text" name="new-message" id="chat-input" placeholder="type message here...">
        <button id="send-message">send</button>
    </div>
</div>