<link rel="stylesheet" type="text/css" href="/css/home.css">
<script src="/js/home_posts.js"></script>

<form action="/posts/create" method="post" id="post-form">
    <textarea name="content"></textarea>
    <button type="submit">post</button>
</form>

<div id="posts-container">
    <% for(post of posts) { %>
        <%- include('_post'); %>
    <% } %>
</div>

<div id="user-friends">
    <h3>my friends</h3>
    <% for(user of allUsers){ %>
        <a href="/users/profile/<%= user.id %>"><%= user.name %></a> <br>
    <% } %>
</div>