body{
    text-align: center;
    font-family: monospace;
}

.post-div{
    border : 1px solid;
}

#my-feed{
    width: 60%;
    display: inline-block;
}

#connections{
    float: right;
    vertical-align: top;
}

#my-friends{
    background: bisque;
    margin-bottom: 30px;
}

#all-users{
    background: burlywood;
}

/* ----------------------chatbox styling------------------------ */
#chatbox{
    position: fixed;
    bottom: 0;
    background: gray;
    border-radius: 5px;
    padding: 5px;
}

#chat-messages{
    max-height: 150px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border-bottom: 3px solid white;
}

#chat-messages p{
    max-width: 70%;
    text-align: left;
    padding: 3px;
    border-radius: 5px;
}

.my-message{
    background: greenyellow;
    position: relative;
    left: 25%;
}

.other-message{
    background-color: lightpink;
}

#chatbox form input{
    border-radius: 10px;
    border: none;
}

#chatbox form button{
    background: black;
    color: beige;
    border-radius: 5px;
    margin-top: 5px;
}